/.vite
/.husky
/out
/tmp
/out-tsc
/release
/dist
/build
/node_modules
/src/assets/variables.css
/electron/assets/icon.ico

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.claude
/.vscode
/.idea
/.DS_Store
/.env